header{
    text-align: center;
    background-color: lightBlue;
    background-image: url("https://vignette.wikia.nocookie.net/starwars/images/4/40/Obiwan-Soresu.png/revision/latest?cb=20130212055217");
    background-size: 100%;
    color:White;
    height: 400px;
    width: 100%;
    /* padding: 45px 0 45px 0; */
    letter-spacing: 1.5px;
    display: inline-block;
}

h1{
    margin: 50px 0 50px 0;
    font-size: 100px;
}

h2{
    margin: 15px 0 15px 0;
    font-size: 60px;
}

h1, h2{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: 'Space Mono', monospace;
}